[Desktop Entry]
Comment=
Exec=/home/qaqulya/.local/bin/watchexec-services
GenericName[en_US]=
GenericName=
MimeType=
Name=watchexec-services
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
