[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo insmod /home/qaqulya/git-repos/silverblue-toolbox-ashmem/ashmem/ashmem_linux.ko
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=ashmem-kernel-module
Name=ashmem-kernel-module
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
