[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec="/home/qaqulya/.local/share/zap/v2/Nextcloud-3.4.0-rc2-x64.AppImage" --background
Terminal=false
Icon=Nextcloud
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
