[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/qaqulya/.config/scripts/diana/dad -d /home/qaqulya/Downloads start
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=diana-aria2c-service-2
Name=diana-aria2c-service-2
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
