[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/qaqulya/.local/share/zap/v2/Motrix-1.6.11.AppImage
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=Motrix-1.6.11.AppImage
Name=Motrix-1.6.11.AppImage
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
