@font-face {
  font-family: 'noto sans';
  src: url(/NotoSans-Regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'noto sans';
  src: url(/NotoSans-Bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
